.button_common {
    border-radius: $button_radius;
    display: inline-block;
    outline: 0;
    border: 0;
    font-size: $font_size_s;
    text-decoration: none;
    line-height: 1;
    position: relative;
    padding: 10px;
    box-shadow: 0 0 3px 3px rgb(0 0 0 / 5%);
    text-shadow: 0 0 3px rgb(0 0 0 / 30%);
    transition: all .3s;
    &:hover{
        box-shadow: 0 0 3px 3px rgb(0 0 0 / 8%);
    }
}

.button_1 {
    @extend .button_common;
    background: #1abebf;
    background-image: linear-gradient(122deg,#8ae8ff,#ff5555);
    background-size: 300px,300px,100%;
    color: #000000;
}

.button_2 {
    @extend .button_common;
    background: #1abebf;
    background-image: linear-gradient(122deg,#ff5555, #8ae8ff);
    background-size: 300px,300px,100%;
    color: #000000;    
}

.button_3 {
    @extend .button_common;
    background: #505050;
    background-image: linear-gradient(122deg,#00000080, #ffffff);
    background-size: 300px,300px,100%;
    color: white;   
}

.button {
    outline: none;
    display: inline-block;
    background-color: map-get($colors, rega_celeste_claro); 
    border: 3px solid map-get($colors, rega_celeste);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
}