.row_margin {
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.centered {
    text-align: center;
}
.margin_left {
    margin-left: 3rem;
}
.margin_top {
    margin-top: 3rem;
}
.margin_top_sm {
    margin-top: 1rem;
}
.margin_bottom {
    margin-bottom: 3rem;
}
.margin_bottom_sm {
    margin-bottom: 1rem;
}
.aligned_right {
    text-align: right;
}