.row_margin {
    margin-bottom: $margin_m;
    margin-top: $margin_m;
}
.centered {
    text-align: center;
}
.margin_left {
    margin-left: $margin_l;
}
.margin_top {
    margin-top: $margin_l;
}
.margin_top_sm {
    margin-top: $margin_s;
}
.padding_top {
    padding-top: $margin_s;
}

.margin_bottom {
    margin-bottom: $margin_l;
}
.margin_bottom_sm {
    margin-bottom: $margin_s;
}
.aligned_right {
    text-align: right;
}