@media only screen and (max-width: 768px) {
    .cra_logo {
        display: none;
    }    
    .main_section {
        display: none;
    }  
    .body_centered {
        text-align: center;
    }

}

